@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP&display=swap);

$yellow: #D0B02D;
$yellow-hover: #AC9329;
$navy: #1F2032;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}



//SCSS for Email Automation
.contact {
  display: flex;
  justify-content: center; //centers the text
  flex-direction: column; //changes the direction of the texts
  align-items: center; //centers the text
  width: 50%;
  margin: auto; //puts the text in the center of the page
  text-align: center; //center aligns the text
}

.contact-h1 {
  font-size: 2rem;
  font-weight: 600;
}


.survey {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 60%;
  margin: auto;
}


.left-boxes {
  display: flex;
  flex-direction: column;
}

.left-boxes input {
  padding: 5%;
  height: 4vw;
  margin: 3vh;
  width: 31em;
}

.right-boxes {
  display: flex;
  flex-direction: column;
}

.right-boxes input {
  padding: 5%;
  height: 4vw;
  margin: 3vh;
  width: 31em;
}

.right-boxes textarea {
  margin: 3vh;
  width: 43.5vh;
  height: 43.5vh;
  padding: 1vh;
  display: flex;
  justify-content: flex-start;
}



.submit-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 10%;
  border: none;
  background: $yellow;
  color: #FFF;
  margin: auto;
  padding: 15px;
  font-size: 20px;
  color: black;
}

.submit-button:hover {
  background-color: $yellow-hover;
}






// Navigation bar SCSS
nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
}

nav ul li {
  display: flex;
  margin-right: 5rem;
  margin-left: 5rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

nav ul li a:hover {
  color: $yellow;
}

.sag-image {
  width: 10%;
  height: auto;
}


//quote button SCSS
.quote-button {
  display: flex;
  justify-content: center;
  background-color: $yellow;
  color: black;
  padding: 20px;
  border: none;
  font-size: 20px;
  margin: 20px;
  border-radius: 55px;
  width: 130px;
  cursor: pointer;
  text-decoration: none;
}

.quote-button:hover {
  background-color: $yellow-hover;
}





//main content SCSS
.main-body {
  color: white;
  height: 80vh;
  background-repeat: no-repeat;
  background-image: url("../images/pic1.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.main-subbody {
  display: flex;
  flex-direction: column;
  justify-items: center;          
  padding: 10%;
}


.main-title {
  font-size: 5rem;
  font-weight: bold;
  margin: auto;
}

.main-text {
  text-align: center;
  font-size: 2.5rem;
}





//freights tab
.freights {
  display: flex;
  justify-content: center; // Add this line to center align the content horizontally
  align-items: center; // Add this line to center align the content vertically
  width: auto;
  padding: 10vh;
}

.freights-box {
  background-color: $navy;
  margin: 3vh;
  color: white;
  padding: 30px;
  text-align: center; // Add this line to center align the text
  width: 15%;
  height: 35vh;
}

.freights-box img {
  margin-bottom: 10px;
}





//sagshipping llc brief tab

.sag-brief {
  display: flex;
  justify-content: center; // Add this line to center align the content horizontally
  align-items: center; // Add this line to center align the content vertically
  width: auto;
  padding: 100px;
  border-bottom: black 1px solid;
}





//delivery time, storage and packaging etc...
.sag-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  margin: auto;
  // background-color: red;
  font-size: 150%;
  padding: 50px;
}

.desc-direction div {
  margin: 20px;
}

.desc-direction div img {
  width: 90px;
}

.desc-p {
  width: 60%;
  margin: auto;
}

.sag-brief img {
  width: 80%;
}

.sag-brief h1 {
  font-size: 2.5rem;
  padding: 20px;
  text-align: center;
}

.sag-brief p {
  font-size: 1.5rem;
  padding: 20px;
}

.desc-headers {
  font-weight: 550;
}






//Home page contact us tab
.home-contact {
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh;
}

.home-contact-h {
  font-size: 2.5rem;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.home-contact-p {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  width: 40%;

}

.contact-button {
  display: flex;
  justify-content: center;
  background-color: $navy;
  color: white;
  padding: 20px;
  border: none;
  font-size: 170%;
  font-weight: 600;
  margin: 20px;
  border-radius: 55px;
  width: 20vh;
  cursor: pointer;
  text-decoration: none;
}







.mvg-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 10vh;
  background-color: #D0B02D;
  font-size: 140%;
}

.mvg-align {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.mvg-align div {
  margin: 0.5vh;
}

.mvg-tab img {
  width: 30%;
  display: flex;
  align-self: flex-start;
  margin: 0.5vh;
}

.wcs {
  display: flex;
  flex-direction: column;
  margin: 10vh;
  font-size: 130%;
}

.wcs h1 {
  margin: auto;
}

.wcs-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10vh;
}

.para-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para-align img {
  width: 10%;
}

.para-align div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}




//WHY CHOOSE SAG SHIPPING tab


.wcs {
  display: flex;
  flex-direction: column;
  margin: 10vh;
  font-size: 130%;
  
}


.wcs h1 {
  margin: auto;
}

.wcs-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10vh;

}


.para-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para-align img {
  width: 10%;
}

.para-align div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}



























.about {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  width: 70%;
}

.about img {
  width: 70%;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.about h1 {
  font-size: 2.5rem;
  padding: 20px;
}

.about p {
  font-size: 1.5rem;
  padding: 20px;
  width: 90%;
}










//contact page 

.contact {
  display: flex;
  justify-content: center; //centers the text
  flex-direction: column; //changes the direction of the texts
  align-items: center; //centers the text
  width: 50%;
  margin: auto; //puts the text in the center of the page
  text-align: center; //center aligns the text

}

.contact p {
  font-size: 1.5rem;
  padding: 20px;
}

.contact-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  font-size: 150%;
  height: 50vh;
  // background-color: red;
}

.contact-divs {
  display: flex;
}

.contact-details img{
  width: 5vh;
  display: flex;
  align-self: flex-start;
}


.contact-box {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0.8vh;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  list-style: none; // remove bullet points
  flex-direction: column;
  padding: 20px;
}

.social-media p {
  font-weight: 550;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  list-style: none;
}


























//footer SCSS
footer {
  display: flex;
  // background-color: $navy;
  color: black;
  justify-content: space-evenly;
  padding: 1px;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
}


.sag-logo{
  border-right: black 1px solid;
  width: auto;
  height: auto;
  margin: 50px;
}


.Details {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  // background-color: red;
  font-size: 130%;
}

.Details ul li{
  list-style: none; // remove bullet points
  padding: 1.5vh;
}



.Contact {
  display: flex;
  // background-color: blue;
  padding-right: 10px;
}

  
.contactdeets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deets img {
  width: 15%;
}

.spacer-deets {
  margin: 20px;
  display: flex;
}

.spacer-deets p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
}






.Social-Media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  list-style: none; // remove bullet points
  flex-direction: column;
  padding: 20px;
  // background-color: green;
}
.Social-Media img {
  width: 200%;
  height: auto;
  color: black;
  padding: 20px;
  
} //footer img SCSS

h3 {
  font-size: 2rem;
  color: black;
  padding-left: 30px;
}


.rawr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  list-style: none; // remove bullet points
}


.footer-text {
  font-size: 1.5rem;
  text-align: center; // Add this line to center align the text
  color: black;
}

li {
  list-style: none; // remove bullet points
  padding: 30px;
}

li a {
  color: black;
}


// Responsive Styles
@media (max-width: 1200px) {
  .contact, .survey, .sag-desc, .home-contact-p, .desc-p, .footer-text {
    width: 80%;
  }

  .freights-box, .freights, .sag-brief, .sag-desc {
    flex-direction: column;
    padding: 50px;
  }

  .freights-box {
    height: auto;
  }

  .quote-button {
    width: 100px;
    padding: 15px;
  }

  
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 1rem 0;
  }

  nav ul li a {
    font-size: 25px;
  }

  .main-title {
    font-size: 3rem;
  }

  .main-text {
    font-size: 1.5rem;
  }

  .contact, .survey, .sag-desc, .home-contact-p, .desc-p, .footer-text {
    width: 100%;
  }

  .sag-image {
    width: 20%;
  }

  .freights-box, .freights, .sag-brief, .sag-desc {
    flex-direction: column;
    padding: 30px;
  }

  .freights-box, .sag-brief, .sag-desc {
    width: 100%;
  }

  .freights-box {
    height: auto;
  }

  .quote-button {
    width: 80px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 2rem;
  }

  .main-text {
    font-size: 1rem;
  }

  .contact, .survey, .sag-desc, .home-contact-p, .desc-p, .footer-text {
    width: 100%;
  }

  .sag-image {
    width: 30%;
  }

  .freights-box, .freights, .sag-brief, .sag-desc {
    flex-direction: column;
    padding: 20px;
  }

  .freights-box, .sag-brief, .sag-desc {
    width: 100%;
  }

  .freights-box {
    height: auto;
  }

  .quote-button {
    width: 100px;
    padding: 5px;
  }
  
  // Navigation bar
nav ul li {
  display:contents;
  margin-right: 0rem;
  margin-left: 0rem;
}

nav ul li a {
  font-size: 20px;
}

// title

//main content SCSS
.main-body {
  height: 30vh;
}

//footer
footer {
  display:block;
}


.sag-logo{
  display: none;
}


.Details {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  // background-color: red;
  font-size: 130%;
}

.Details ul li{
  list-style: none; // remove bullet points
  padding: 1.5vh;
}



.Contact {
  display: flex;
  // background-color: blue;
  padding-right: 10px;
}

  
.contactdeets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deets img {
  width: 15%;
}

.spacer-deets {
  margin: 20px;
  display: flex;
}

.spacer-deets p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
}

.Social-Media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  list-style: none; // remove bullet points
  flex-direction: column;
  padding: 20px;
  // background-color: green;
}
.Social-Media img {
  width: 200%;
  height: auto;
  color: black;
  padding: 20px;
  
} //footer img SCSS

h3 {
  font-size: 2rem;
  color: black;
  padding-left: 30px;
}


.rawr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  list-style: none; // remove bullet points
}


.footer-text {
  font-size: 1.5rem;
  text-align: center; // Add this line to center align the text
  color: black;
}

li {
  list-style: none; // remove bullet points
  padding: 30px;
}

li a {
  color: black;
}
}






// Path: index.html



@media screen and (max-width: 768px) {

  .about {
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding-left: 120px;
    display: flex;
    width: 80%;
  }


  .about img {
    width: 100%;
    margin-bottom: 5vh;
    margin-left: 0px;
    margin-right: auto;
    display: block;
  }

  .about-text {
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:justify;
    text-overflow: ellipsis;
    }

  .about h1 {
    font-size: 2rem;
    padding: 10px; 
  }

  .about p {
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
    padding-bottom: 20px;
  }
  .mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    background-color: $yellow;
    font-size: 140%;
  }
  .mvg-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
  }

  .mvg-align p {
    padding: 10px;
    padding-right: 100px;
    align-items: center;
  }
  .mvg-align img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding-left: 40px;
    width: 40%;
    background-color: $yellow;
    }
  .wcs {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 130%;
  }
  .wcs h1 {
    margin: 0px;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 20px;
  }
  .wcs-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: auto;
    padding-left: 0%;
  }
  .para-align {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    width: auto;
  }
  .para-align img {
    width: 20%;
    padding-bottom: 3vh;
    padding-top: 5vh;

  }
  .para-align h4 {
    font-size: 2rem;
    padding: 10px;
    padding-bottom: 30px;
  }
  .para-align p {
    font-size: 1.5rem;
    padding: 10px;
    width: 90%;
    text-align: start;
  }
}

