@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP&display=swap);

$yellow: #D0B02D;
$yellow-hover: #AC9329;
$navy: #1F2032;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}



//SCSS for Email Automation
.contact {
  display: flex;
  justify-content: center; //centers the text
  flex-direction: column; //changes the direction of the texts
  align-items: center; //centers the text
  width: 50%;
  margin: auto; //puts the text in the center of the page
  text-align: center; //center aligns the text
}

.contact-h1 {
  font-size: 2rem;
  font-weight: 600;
}


.survey {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 60%;
  margin: auto;
}


.left-boxes {
  display: flex;
  flex-direction: column;
}

.left-boxes input {
  padding: 5%;
  height: 4vw;
  margin: 3vh;
  width: 31em;
}

.right-boxes {
  display: flex;
  flex-direction: column;
}

.right-boxes input {
  padding: 5%;
  height: 4vw;
  margin: 3vh;
  width: 31em;
}

.right-boxes textarea {
  margin: 3vh;
  padding: 32%;
}



.submit-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 10%;
  border: none;
  background: $yellow;
  color: #FFF;
  margin: auto;
  padding: 15px;
  font-size: 20px;
  color: black;
}

.submit-button:hover {
  background-color: $yellow-hover;
}






// Navigation bar SCSS
nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
}

nav ul li {
  display: flex;
  margin-right: 5rem;
  margin-left: 5rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

nav ul li a:hover {
  color: $yellow;
}

.sag-image {
  width: 10%;
  height: auto;
}


//quote button SCSS
.quote-button {
  display: flex;
  justify-content: center;
  background-color: $yellow;
  color: black;
  padding: 20px;
  border: none;
  font-size: 20px;
  margin: 20px;
  border-radius: 55px;
  width: 130px;
  cursor: pointer;
  text-decoration: none;
}

.quote-button:hover {
  background-color: $yellow-hover;
}





//main content SCSS
.main-body {
  background-color: red;
  color: white;
  background-repeat: no-repeat;
  background-image: url("../images/pic1.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.main-subbody {
  display: flex;
  flex-direction: column;
  justify-items: center;          
  padding: 10%;
}


.main-title {
  font-size: 5rem;
  font-weight: bold;
  margin: auto;
}

.main-text {
  text-align: center;
  font-size: 2.5rem;
}





//freights tab
.freights {
  display: flex;
  justify-content: center; // Add this line to center align the content horizontally
  align-items: center; // Add this line to center align the content vertically
  width: auto;
  padding: 100px;
}

.freights-box {
  background-color: $navy;
  margin: 30px;
  color: white;
  padding: 50px;
  text-align: center; // Add this line to center align the text
  width: 15%;
  height: 325px;
}

.freights-box img {
  margin-bottom: 10px;
}





//sagshipping llc brief tab

.sag-brief {
  display: flex;
  justify-content: center; // Add this line to center align the content horizontally
  align-items: center; // Add this line to center align the content vertically
  width: auto;
  padding: 100px;
  border-bottom: black 1px solid;
  
}

.sag-brief img {
  width: 80%;
}

.sag-brief h1 {
  font-size: 2.5rem;
  padding: 20px;
  text-align: center;
}

.sag-brief p {
  font-size: 1.5rem;
  padding: 20px;
}








































//footer SCSS
footer {
  display: flex;
  // background-color: $navy;
  color: black;
  justify-content: space-evenly;
  padding: 1px;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
}


.sag-logo{
  border-right: black 1px solid;
  width: auto;
  height: auto;
  margin: 50px;
}


.Details {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  // background-color: red;
  font-size: 130%;
}

.Details ul li{
  list-style: none; // remove bullet points
  padding: 1.5vh;
}



.Contact {
  display: flex;
  // background-color: blue;
  padding-right: 10px;
}

  
.contactdeets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deets img {
  width: 15%;
}

.spacer-deets {
  margin: 20px;
}







.Social-Media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  list-style: none; // remove bullet points
  flex-direction: column;
  padding: 20px;
  // background-color: green;
}
.Social-Media img {
  width: 200%;
  height: auto;
  color: black;
  padding: 20px;
  
} //footer img SCSS

h3 {
  font-size: 2rem;
  color: black;
  padding-left: 30px;
}


.rawr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  list-style: none; // remove bullet points
}


.footer-text {
  font-size: 1.5rem;
  text-align: center; // Add this line to center align the text
  color: black;
}

li {
  list-style: none; // remove bullet points
  padding: 30px;
}

li a {
  color: black;
}